.radio-box-container {
  position: relative;
  width: 10em;
}

.radiobox-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-transform: uppercase;
  font-weight: 600;
  color: #585858;
  border: solid 1px #8584848a;
  width: 100%;
  font-size: 0.6em;
  padding: 0.3em;
  padding-left: 1em;

  cursor: pointer;
}

.radio-box-content {
  position: absolute;
  top: 105%;
  left: 0;

  padding: 0.2em;
  width: 100%;
  height: max-content;
  font-weight: 300;

  z-index: 10;
  background-color: #ffffff;
  border: solid 1px #8584848a;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.5s;
}

.open-radio-box-content {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* Customize the label (the container) */
.radio-box-item {
  display: block;
  position: relative;
  font-size: 0.7em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.radio-box-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  z-index: 1;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0.2em;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.radio-box-item:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio-box-item input:checked ~ .checkmark {
  background-color: #ffffff;
  border: solid 1px #5c5b5b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.radio-box-item input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.radio-box-item .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio-box-label {
  margin-left: 2em;
}
