.section-categories {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 13rem);
  height: 30rem;
  gap: 1rem;
  background-color: #363535;
}

.section-categories > div:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.918);
}

.section-categories > div:hover > span {
  color: #000000;
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}

.section-categories > div:hover > img {
  opacity: 0.8;
}

.item-main {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
}

.item {
  position: relative;
  background-color: #181616;
  overflow: hidden;
}

.img-category {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.8;
}

.text-center-category {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .section-categories {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: auto;
  }
}
