.card-product {
  border: 0.5px solid #e4e2e2;

  font-family: "Inter", sans-serif;
  position: relative;
}

.card-product:hover {
  opacity: 0.75;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  .card-product {
    height: 22rem;
  }
}
